!!!
%html
  %head
    %title OperationJam
    -# Temp disable airbrake while they are having performance problems = airbrake_javascript_notifier
    = stylesheet_link_tag    'application', :media => 'all'
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans", :rel => "stylesheet", :type => "text/css"}
    = csrf_meta_tags
    = yield :head
    = raw analytical.head_append_javascript
    %link{:rel => 'shortcut icon', :href => image_path('design/logo2.png')}
    %meta{:name => 'description', :content => 'Broadcasting your music to connect, collaborate and share'}
    %meta{:name => 'keywords', :content => 'opjam, fm, jam, music, social, online radio, broadcast, streaming audio, copyright free,  music projects, share, connect, social charts, money for jam, promotion, concerts, education, exposure, career'}
    
  %body
    = raw analytical.body_prepend_javascript
    = render 'shared/header'
    = yield
    = render 'shared/signin'
    = render 'shared/signup'
    = render 'shared/footer'
    = javascript_include_tag 'application'
    = raw analytical.body_append_javascript
    - if Rails.env.production?
      :javascript
        var uvOptions = {};
        (function() {
          var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
          uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/tBEToUD70DdxJW0ayVzWQ.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
        })();
